@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #ececebf3;
}

.container {
  overflow: hidden;
  display: flex;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #fff;
}

.logo {
  display: flex;
  margin-top: 10px;
  width: 80%;
  height: 40px;
  text-align: center;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.image {
  margin-top: 3px;
  margin-left: 20px;
  width: 24px;
  height: 24px;
}

.container-headline {
  display: flex;
  flex-direction: column;
  background: url("images/mobile.png") no-repeat;
  background-size: 100% 100%;
  align-items: center;
  padding: 114px 24px;
  border-bottom-left-radius: 25px;
  background-color: #fff;
}

.text {
  overflow-x: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  color: #091e42;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.content {
  overflow-x: hidden;
  width: 100%;
  color: #344563;
  padding: 10px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.connect {
  overflow-x: hidden;
  display: flex;
  color: #7f8cff;
  width: 100%;
  justify-items: flex-start;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.icons {
  overflow: hidden;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  align-self: flex-start;
  padding: 10px 10px 10px 2px;
  max-width: 100%;
  height: 20px;
}

.works {
  display: grid;
  height: 700px;
  align-items: center;
  padding: 0 20px;
  gap: 12px;
}

.workscontainer {
  display: flex;
  height: 520px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background: #fff;
}

.toniclayout {
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  gap: 12px;
}

.canopylayout {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.snapimg1 {
  width: 263px;
  height: 188px;
  padding: 16px;
  border-radius: 8px;
  background: url(images/Snapshoot.png), no-repeat;
}

.snapimg2 {
  width: 263px;
  height: 188px;
  padding: 16px;
  border-radius: 8px;
  background: url(images/Snapshoot2.png), no-repeat;
}

.snapimg3 {
  width: 263px;
  height: 188px;
  padding: 16px;
  border-radius: 8px;
  background: url(images/Snapshoot3.png), no-repeat;
}

.f {
  display: none;
}

.snapimg4 {
  width: 263px;
  height: 188px;
  padding: 16px;
  border-radius: 8px;
  background: url(images/Snapshoot4.png), no-repeat;
}

.tonic {
  width: 100%;
  height: 36px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  gap: 12px;
}

.canopy {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  gap: 12px;
}

.counter {
  width: 8px;
  height: 8px;
}

.backend {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.content2 {
  color: #344563;
  width: 100%;
  padding: 16px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.html {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.html:hover {
  cursor: pointer;
  color: blue;
}

.tagslayout {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.seeprojectlayout {
  width: 80%;
  display: flex;
  padding: 12px 48px 12px 0;
  align-items: center;
}

.seeproject {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  color: #396df2;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  border-radius: 8px;
  border: 1px solid #6070ff;
}

.seeproject:hover {
  cursor: pointer;
  color: blue;
}

.multiworks {
  height: 625px;
}

.multipost {
  width: 100%;
  height: 88px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  gap: 12px;
}

.myself {
  overflow: hidden;
  display: grid;
  align-items: center;
  padding: 114px 24px;
  border-top-right-radius: 35px;
  background-color: #fff;
}

.about-myself {
  width: 85%;
}

.aboutmyself {
  display: flex;
  width: 97%;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.paragraph {
  width: 118%;
  height: 167px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.frame {
  width: 18px;
  height: 20px;
  padding: 12px 12px;
  flex-shrink: 0;
}

#M {
  width: 24px;
  height: 24px;
}

#gap {
  padding: 14px 10px;
}

#getmyresume {
  width: 70%;
  margin-left: 0;
  padding: 12px 0;
}

.languageslayout {
  display: flex;
  width: 250px;
  padding: 16px 70px 16px 1px;
  align-items: center;
  gap: 12px;
}

.languages {
  width: 237px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.htmlcssjs {
  display: flex;
  padding: 1px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.jsimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #fff;
  background: url(images/js.png), lightgray 50% / cover no-repeat;
}

.js {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.jslayout {
  display: flex;
  width: 280px;
  padding: 9px 12px 9.716px 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #f7f7f8;
}

.htmlimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #fff;
  background: url(images/html.png), lightgray 50% / cover no-repeat;
}

.htmll {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.htmllayout {
  display: flex;
  width: 280px;
  padding: 9px 12px 9.716px 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #f7f7f8;
}

.cssimg {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid#FFF;
  background: url(images/css.png), lightgray 50% / cover no-repeat;
}

.css {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.rubyonrails {
  display: none;
}

.csslayout {
  display: flex;
  width: 280px;
  padding: 9px 12px 9.716px 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #f7f7f8;
}

.icons:hover {
  cursor: pointer;
}

.skills {
  border-top: 0.2px solid rgb(219, 219, 219);
  border-bottom: 0.2px solid rgb(219, 219, 219);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: url(images/mobilecontact.png) no-repeat;
  padding: 114px 24px;
  background-size: 100% 100%;
  border-top-left-radius: 25px;
  background-color: #6070ff;
}

.contactme {
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.contactdescription {
  width: 96%;
  overflow-x: hidden;
  height: 96%;
  padding: 14px 25px;
  flex-shrink: 0;
  color: #ebebff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.name {
  width: 92%;
  height: 30px;
  margin-top: 10px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #cfd8dc;
  background: #fff;
}

.email {
  width: 92%;
  height: 30px;
  margin-top: 10px;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #cfd8dc;
  background: #fff;
}

.message {
  width: 92%;
  height: 140px;
  margin-top: 10px;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #cfd8dc;
  background: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  overflow-x: hidden;
  width: 96%;
}

.getintouch {
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  color: #6070ff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.getintouch:hover {
  cursor: pointer;
}

.getintouch:active {
  background-color: #fff;
  box-shadow: 0 5px #6b6868;
  transform: translateY(4px);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ececebf3;
  }

  .text {
    width: 100%;
  }

  .myself {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .htmlcssjs {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .containerbg {
    background: url("images/header.png") no-repeat;
    height: 100%;
    background-size: 100% 93%;
    background-color: #fff;
    border-bottom-left-radius: 55px;
    padding: 100px 162px;
  }

  .content {
    width: 100%;
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .icons {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    align-self: flex-start;
    padding: 10px 10px 10px 8px;
    width: 170.167px;
    height: 20px;
  }

  .image {
    display: none;
  }

  .seeprojectlayout {
    width: 95%;
    padding: 16px 0 0 0;
    margin-left: 10px;
  }

  .selectionlayout {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .selection {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
  }

  .icons:hover {
    cursor: pointer;
  }

  .selectstyle {
    color: #344563;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .selectstyle:hover {
    cursor: pointer;
  }

  .logolayout {
    width: 60%;
    display: flex;
    padding: 0 45px;
    align-items: center;
  }

  .about-myself {
    width: 75%;
    place-self: center;
  }

  #simg {
    width: 544px;
    height: 448px;
    flex-shrink: 0;
  }

  #works2 {
    justify-items: center;
    display: grid;
    height: 700px;
    align-items: center;
    padding: 0 0;
    gap: 12px;
  }

  #snapimg5 {
    width: 50%;
    height: 407px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(images/Snapshoot5.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #snapimg6 {
    width: 50%;
    height: 407px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(images/Snapshoot6.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #snapimg7 {
    width: 50%;
    height: 407px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(images/Snapshoot7.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #snapimg8 {
    width: 50%;
    height: 407px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(images/Snapshoot8.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .font-size {
    font-size: 18px;
  }

  #workscontainer2 {
    display: flex;
    flex-direction: row;
    padding: 24px;
    width: 83%;
    height: 420px;
    gap: 20px;
  }

  #workscontainerreverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px;
    width: 83%;
    height: 420px;
    gap: 20px;
  }

  .facebook360 {
    width: 95%;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    gap: 12px;
  }

  #toniclayout2 {
    width: 65%;
    height: 93%;
    overflow: hidden;
    justify-self: center;
  }

  #toniclayout3 {
    width: 60%;
    height: 93%;
    overflow: hidden;
    justify-self: center;
  }

  #tonic2 {
    width: 93%;
  }

  #content2o {
    width: 93%;
    height: 20%;
    padding: 16px 0 0 0;
  }

  .multipost {
    width: 93%;
    height: 17%;
  }

  .rubyonrails {
    display: block;
  }

  #canopylayout2 {
    width: 93%;
  }

  #canopylayout3 {
    width: 93%;
    margin-bottom: 5px;
  }

  #facebook {
    display: block;
  }

  .multi-content {
    width: 93%;
    color: #344563;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  #c {
    display: none;
  }

  #tagslayout2 {
    width: 93%;
  }

  .about-languages {
    align-self: center;
    width: 96.5%;
  }

  #languageslayout2 {
    padding: 42px 15px;
    width: 80%;
  }

  #languages2 {
    width: 135%;
  }

  #paragraph1 {
    width: 92%;
    height: 20%;
  }

  #htmlcssjs2 {
    flex-direction: row;
  }

  #jsimg2 {
    align-self: flex-start;
  }

  #js2 {
    width: 90%;
  }

  #jslayout2 {
    flex-direction: column;
    width: 20%;
  }

  #htmlimg2 {
    align-self: flex-start;
  }

  #htmll2 {
    width: 90%;
  }

  #htmllayout2 {
    flex-direction: column;
    width: 20%;
  }

  #cssimg2 {
    align-self: flex-start;
  }

  #css2 {
    width: 90%;
  }

  #csslayout2 {
    flex-direction: column;
    width: 20%;
  }

  #contact2 {
    flex-direction: column;
    background: url("images/contactbg.png") no-repeat;
    background-size: 100% 93%;
    flex-shrink: 0;
    padding: 100px 162px;
    border-top-left-radius: 55px;
    background-color: #6070ff;
  }

  #contactdescription2 {
    width: 55%;
  }

  #name2 {
    width: 450px;
    height: 30px;
    margin-top: 10px;
    flex-shrink: 0;
    padding: 10px;
  }

  #message2 {
    width: 450px;
    height: 140px;
    margin-top: 10px;
    flex-shrink: 0;
    padding: 10px;
  }

  #getintouch2 {
    align-self: center;
    margin-bottom: 20px;
  }

  #getintouch2:hover {
    cursor: pointer;
  }

  #getintouch2:active {
    background-color: #fff;
    box-shadow: 0 5px #6b6868;
    transform: translateY(4px);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 96%;
  }
}
